.installed.cfg
.mr.developer.cfg
.coverage
bin/memorize
bootstrap.py
bin/buildout
bin/coverage
bin/ctags
bin/develop
bin/pylint
bin/python
bin/sphinx-build
bin/sphinx-quickstart
bin/test
bin/rst2pdf
bin/coverage-2.7
bin/coverage2
bin/epylint
bin/pylint-gui
bin/pyreverse
bin/symilar
*.egg-info/
develop-eggs/
parts/
docs/build/
eggs/
env/
.virtualenv/
*.pyc
var
